In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly as px
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("/kaggle/input/height-dataset/heights.csv")

df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

## Detect outliers using percentile

In [4]:
df['height'].describe()

count    14.000000
mean      6.050000
std       2.779804
min       1.200000
25%       5.250000
50%       5.550000
75%       6.175000
max      14.500000
Name: height, dtype: float64

In [7]:
max_threshold = df['height'].quantile(0.95)

### Remove outliers

In [8]:
df[df.height > max_threshold]

    name  height
9  imran    14.5

In [10]:
min_threshold = df['height'].quantile(0.05)

df[df.height < min_threshold]

      name  height
12  yoseph     1.2