In [63]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/heart-csv/heart.csv

## IMPORT ALL THE LIBRARIES AND DATASES

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
df = pd.read_csv("/kaggle/input/heart-csv/heart.csv")

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [66]:
df.shape

(918, 12)

## DATA PROCESSING

In [67]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [68]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [69]:
df['Sex'] = df.Sex.map({"M": 0, "F": 1})
df.Sex

0      0
1      1
2      0
3      1
4      0
      ..
913    0
914    0
915    0
916    1
917    0
Name: Sex, Length: 918, dtype: int64

In [70]:
df.ChestPainType.value_counts()

ChestPainType
ASY    496
NAP    203
ATA    173
TA      46
Name: count, dtype: int64

In [71]:
dummies = pd.get_dummies(df.ChestPainType).astype(int)
dummies.head()

   ASY  ATA  NAP  TA
0    0    1    0   0
1    0    0    1   0
2    0    1    0   0
3    1    0    0   0
4    0    0    1   0

In [72]:
df = df.drop(columns = ['ChestPainType'])
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,140,289,0,Normal,172,N,0.0,Up,0
1,49,1,160,180,0,Normal,156,N,1.0,Flat,1
2,37,0,130,283,0,ST,98,N,0.0,Up,0
3,48,1,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,0,150,195,0,Normal,122,N,0.0,Up,0

In [73]:
df = pd.concat([df, dummies], axis = 1)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,0,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0
1,49,1,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0
2,37,0,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0
3,48,1,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0
4,54,0,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0

In [74]:
df.dtypes

Age                 int64
Sex                 int64
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
ASY                 int64
ATA                 int64
NAP                 int64
TA                  int64
dtype: object

In [75]:
df.RestingECG.value_counts()

dum = pd.get_dummies(df.RestingECG).astype(int)
df = df.drop(columns = ['RestingECG'])
df = pd.concat([df, dum], axis = 1)

df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST
0,40,0,140,289,0,172,N,0.0,Up,0,0,1,0,0,0,1,0
1,49,1,160,180,0,156,N,1.0,Flat,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,N,0.0,Up,0,0,1,0,0,0,0,1
3,48,1,138,214,0,108,Y,1.5,Flat,1,1,0,0,0,0,1,0
4,54,0,150,195,0,122,N,0.0,Up,0,0,0,1,0,0,1,0

In [76]:
df.dtypes

Age                 int64
Sex                 int64
RestingBP           int64
Cholesterol         int64
FastingBS           int64
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
ASY                 int64
ATA                 int64
NAP                 int64
TA                  int64
LVH                 int64
Normal              int64
ST                  int64
dtype: object

In [78]:
print(df.ExerciseAngina.value_counts())

df['ExerciseAngina'] = df['ExerciseAngina'].map({"N": 0, "Y": 1})
df.head()

ExerciseAngina
N    547
Y    371
Name: count, dtype: int64

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST
0,40,0,140,289,0,172,0,0.0,Up,0,0,1,0,0,0,1,0
1,49,1,160,180,0,156,0,1.0,Flat,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,0,0.0,Up,0,0,1,0,0,0,0,1
3,48,1,138,214,0,108,1,1.5,Flat,1,1,0,0,0,0,1,0
4,54,0,150,195,0,122,0,0.0,Up,0,0,0,1,0,0,1,0

In [80]:
print(df.ST_Slope.value_counts())

dumm = pd.get_dummies(df.ST_Slope).astype(int)
print(dumm.head())

df = df.drop(columns = ['ST_Slope'])
df = pd.concat([df, dumm], axis = 1)

df.head()

ST_Slope
Flat    460
Up      395
Down     63
Name: count, dtype: int64
   Down  Flat  Up
0     0     0   1
1     0     1   0
2     0     0   1
3     0     1   0
4     0     0   1

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST,Down,Flat,Up
0,40,0,140,289,0,172,0,0.0,0,0,1,0,0,0,1,0,0,0,1
1,49,1,160,180,0,156,0,1.0,1,0,0,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,0,0.0,0,0,1,0,0,0,0,1,0,0,1
3,48,1,138,214,0,108,1,1.5,1,1,0,0,0,0,1,0,0,1,0
4,54,0,150,195,0,122,0,0.0,0,0,0,1,0,0,1,0,0,0,1

In [81]:
df.dtypes

Age                 int64
Sex                 int64
RestingBP           int64
Cholesterol         int64
FastingBS           int64
MaxHR               int64
ExerciseAngina      int64
Oldpeak           float64
HeartDisease        int64
ASY                 int64
ATA                 int64
NAP                 int64
TA                  int64
LVH                 int64
Normal              int64
ST                  int64
Down                int64
Flat                int64
Up                  int64
dtype: object

In [83]:
X = df.drop(columns = ['HeartDisease'])
y = df['HeartDisease']

X.shape, y.shape

((918, 18), (918,))

In [84]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [86]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter = 1000)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8840579710144928

In [87]:
X.shape

(918, 18)

In [88]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca.shape

(918, 2)

In [89]:
from sklearn.model_selection import train_test_split

X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size = 0.3, random_state = 42)

In [90]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter = 1000)
model.fit(X_train_pca, y_train)
model.score(X_test_pca, y_test)

0.6992753623188406

In [92]:
from sklearn.decomposition import PCA

pca = PCA(n_components = 10)
X_pca = pca.fit_transform(X)
X_pca.shape

(918, 10)

In [93]:
from sklearn.model_selection import train_test_split

X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size = 0.3, random_state = 42)

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter = 1000)
model.fit(X_train_pca, y_train)
model.score(X_test_pca, y_test)

0.8659420289855072