## IMPORT LIBRARIES AND DATASET

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("/kaggle/input/enseble-heart-failure-dataset/heart.csv")

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [5]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [6]:
df['Sex'] = df.Sex.map({"M": 0, "F": 1})
df.Sex

0      0
1      1
2      0
3      1
4      0
      ..
913    0
914    0
915    0
916    1
917    0
Name: Sex, Length: 918, dtype: int64

In [9]:
print(df['ChestPainType'].value_counts())

dummies = pd.get_dummies(df['ChestPainType']).astype(int)

df.drop(columns = ['ChestPainType'], inplace = True)
df = pd.concat([df, dummies], axis = 1)

df.head()

ChestPainType
ASY    496
NAP    203
ATA    173
TA      46
Name: count, dtype: int64

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,0,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0
1,49,1,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0
2,37,0,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0
3,48,1,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0
4,54,0,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0

In [10]:
df.dtypes

Age                 int64
Sex                 int64
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
ASY                 int64
ATA                 int64
NAP                 int64
TA                  int64
dtype: object

In [15]:
print(df['RestingECG'].value_counts())

dum = pd.get_dummies(df['RestingECG']).astype(int)

df.drop(columns = ['RestingECG'], inplace = True)

df = pd.concat([df, dum], axis = 1)

df.head()

RestingECG
Normal    552
LVH       188
ST        178
Name: count, dtype: int64

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST
0,40,0,140,289,0,172,N,0.0,Up,0,0,1,0,0,0,1,0
1,49,1,160,180,0,156,N,1.0,Flat,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,N,0.0,Up,0,0,1,0,0,0,0,1
3,48,1,138,214,0,108,Y,1.5,Flat,1,1,0,0,0,0,1,0
4,54,0,150,195,0,122,N,0.0,Up,0,0,0,1,0,0,1,0

In [16]:
df.dtypes

Age                 int64
Sex                 int64
RestingBP           int64
Cholesterol         int64
FastingBS           int64
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
ASY                 int64
ATA                 int64
NAP                 int64
TA                  int64
LVH                 int64
Normal              int64
ST                  int64
dtype: object

In [17]:
df['ExerciseAngina'] = df.ExerciseAngina.map({'N': 0, 'Y': 1})
df['ExerciseAngina']

0      0
1      0
2      0
3      1
4      0
      ..
913    0
914    0
915    1
916    0
917    0
Name: ExerciseAngina, Length: 918, dtype: int64

In [19]:
print(df['ST_Slope'].value_counts())

dumm = pd.get_dummies(df['ST_Slope']).astype(int)
df.drop(columns = ['ST_Slope'], inplace = True)

df = pd.concat([df, dumm], axis = 1)

df.head()

ST_Slope
Flat    460
Up      395
Down     63
Name: count, dtype: int64

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST,Down,Flat,Up
0,40,0,140,289,0,172,0,0.0,0,0,1,0,0,0,1,0,0,0,1
1,49,1,160,180,0,156,0,1.0,1,0,0,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,0,0.0,0,0,1,0,0,0,0,1,0,0,1
3,48,1,138,214,0,108,1,1.5,1,1,0,0,0,0,1,0,0,1,0
4,54,0,150,195,0,122,0,0.0,0,0,0,1,0,0,1,0,0,0,1

In [20]:
df.dtypes

Age                 int64
Sex                 int64
RestingBP           int64
Cholesterol         int64
FastingBS           int64
MaxHR               int64
ExerciseAngina      int64
Oldpeak           float64
HeartDisease        int64
ASY                 int64
ATA                 int64
NAP                 int64
TA                  int64
LVH                 int64
Normal              int64
ST                  int64
Down                int64
Flat                int64
Up                  int64
dtype: object

In [21]:
X = df.drop(columns = ['HeartDisease'])
y = df['HeartDisease']

X.shape, y.shape

((918, 18), (918,))

In [23]:
from sklearn.preprocessing import StandardScaler

s = StandardScaler()
X_scaled = s.fit_transform(X)

X_scaled

array([[-1.4331398 , -0.51595242,  0.41090889, ..., -0.27144836,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.93816322,  1.49175234, ..., -0.27144836,
         0.99782372, -0.86905588],
       [-1.75135854, -0.51595242, -0.12951283, ..., -0.27144836,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.51595242, -0.12951283, ..., -0.27144836,
         0.99782372, -0.86905588],
       [ 0.37009972,  1.93816322, -0.12951283, ..., -0.27144836,
         0.99782372, -0.86905588],
       [-1.64528563, -0.51595242,  0.30282455, ..., -0.27144836,
        -1.00218103,  1.15067399]])

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3, random_state = 42)

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

scores = cross_val_score(SVC(), X_scaled, y, cv = 5)
np.average(scores)

np.float64(0.819095984794488)

In [29]:
from sklearn.ensemble import BaggingClassifier

model = BaggingClassifier(
    estimator = SVC(),
    n_estimators = 100,
    max_samples = 0.8, 
    oob_score = True,
    random_state = 42
)

model.fit(X_train, y_train)
model.oob_score_

0.8566978193146417

In [30]:
model.score(X_test, y_test)

0.8804347826086957

In [31]:
from sklearn.ensemble import RandomForestClassifier

score = cross_val_score(RandomForestClassifier(), X_scaled, y, cv = 5)
np.average(score)

np.float64(0.8299952482775005)